
h3 {
    color: white;
}

h4 {
    color: hsl(0, 4%, 92%);
}

#infoBox {
    display: flex;
    justify-content: center;
    min-height: 375px;
    height: auto;
    margin: 20px 40px 0 40px;
    overflow: auto;
    background-color: hsl(0, 4%, 92%);
}

#completeLeftBox {
    width: 20%;
    background-color: hsl(0, 4%, 63%);
    color: lightgray;
}

#bodyImageBox {
    display: flex;
    justify-content: space-between;
    height: 66vh;
}

#titleBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

#buttonBox {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.droneBox {
    height: 60px;
    margin: 10px 0 0 30px;
    color: grey;
}

.textBox {
    width: 60%;
    overflow: auto;
}

.bodyBox {
    margin: 80px 140px 0 0;
    height: 340px;
}

.buttons {
    height: 35px;
    width: 150px;
    background-color: hsl(0, 4%, 63%);
    color: white;
    border: none;
    cursor: pointer;
}

.linkToWebs {
    color: lightgray;
}

.buttons:hover{
    background-color: hsl(0, 4%, 73%)
}


